body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

body {
	background: #fff;
}
.heartM
{
  
  position:fixed;
  height:200px;
  width:200px;
  top:50%;
  left:50%;
  border:0px solid;
  background:red;
  transform:rotate(45deg);
 
}
.heart
{
  position:fixed;
  height:200px;
  width:200px;
  top:50%;
  left:50%;
  border:0px solid;
  background:red;
  transform:rotate(0deg);
  animation-name:h1;
	animation-duration:2s;
	animation-iteration-count: infinite
}
.heartR
{
  position:relative;
  width:200px;
  height:100px;
  background:red;
  bottom:400px;
  border-radius:100px 100px 0 0; 
}
.heartL
{
  position:relative;
  width:100px;
  height:200px;
  background:red;
  bottom:100px;
  right:100px;
  border-radius:100px 0 0 100px; 
}

.loader {
	height: 50%;
	width: 50%;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
  transform: rotate(45deg);
}

.loader .line {
  top: 5%;
  left: 55%;
  position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border-top: 5px solid #fff;
  
	/* border-right: 3px solid transparent; */
}

.loader .line1 {
	transform: rotateY(60deg) rotateX(30deg);
	animation: spin1 900ms linear infinite;
}

.loader .line2 {
	transform: rotateY(60deg) rotateX(-30deg);
	animation: spin2 900ms linear infinite;
	animation-delay: 400ms;
}

@keyframes spin1 {
	to {
		transform: rotateY(60deg) rotateX(30deg) rotate(360deg);
	}
}

@keyframes spin2 {
	to {
		transform: rotateY(60deg) rotateX(-30deg) rotate(360deg);
	}
}
@keyframes h1{
	0%{width:0px;height:0px;top:300px;opacity:1;}
	50%{width:0px;height:0px;top:200px;opacity:0;}
	100%{width:0px;height:0px;top:300px;opacity:0.9;}
}

